body{
    min-height: 100vh;
    display: flex; 
    font-family: sans-serif;
    width: 100%;
    background-color: blueviolet;
    /* opacity: 0.5; */
  }
  
  .flex{
    margin: auto;
  }
  h1{
      text-align: center;
      font-size: 50px;
  }
  
  #description{
      text-align: center;
      font-size: 30px;
      
  }
  
  .form-box{
  
  background-color: black;
  
  width: 950px;
    /* height: 2500px; */
  }
  
  form{
    margin-top: 50px;
    padding-left:50px ;
    padding-top: 50px;
    color: white;
  }
  
  label, p {
    font-size:35px ;
    
  }
  #name, #email, #number, #dropdown{
    width: 850px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    margin-bottom: 40px;
  }
  
  input[type=radio]{
    border: 0px;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    
  }
  
  #radio-box{
    font-size: 30px;
    
    
  }
  
  .p-checkbox{
    font-size: 30px;
    width: 900px;
  }
  
  input[type=checkbox]{
    border: 0;
    width: 25px;
    height: 25px;
    margin-bottom:30px ;
    margin-right: 20px;
    
  }
  
  .checkbox{
    font-size: 25px;
  }
  
  textarea{
    resize: none;
    font-size: 30px;
    background-color: white;
  }
  
  .btm{
    margin-top: 50px;
    text-align: center;
    
  }
  
  input[type=submit]{
    padding-left: 400px;
    padding-right: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    margin-right: 120px;
    margin-bottom: 40px;
    background-color: green;
  color: white;
  }
  
  @media(max-width:770px){
    body{
    
    
    }
    h1{
      font-size: 45px;
      width: 800px;
      
    }
    #description{
      font-size: 30px;
      width: 850px;
    }
  
    .flex{
      width: 450px;
    }
  
    .form-box{
      width: 850px;
    }
    #name, #email, #number, #dropdown{
      font-size: 20px;
      width: 750px;
      height: 50px;
    }
    label, p,{
      font-size: 30px;
    }
  
    .p-checkbox{
      font-size: 30px;
      
    }
    input[type=radio]{
      width: 30px;
      
    }
    #radio-box{
      font-size: 30px;
    }
    
    
  }
  
  @media(max-width:420px){
    .flex{
      padding-left: 90px;
    }
     textarea{
      columns: 35;
    }
    
  }
  
  